fm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(104deg,rgba(134,121,249,.1),rgba(113,255,151,.1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a8679f9",endColorstr="#1a71ff97",GradientType=1);
    width: 100vw;
    height: 362px;
    margin-bottom: 58px;
}

.fh {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 8px;
    white-space: nowrap;
}

.fp  {
    max-width: 427px;
    font-size: 16px;
    line-height: 1.75;
    color: hsla(0,0%,100%,.8);
    margin: 0 0 24px;
    font-weight: 500;
}

.K.S {
    transition: box-shadow .1s,transform .1s;
    transition-timing-function: ease-in-out;
    color: #081118;
    background: linear-gradient(139deg,#00e18c,#00e36a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e18c",endColorstr="#ff00e36a",GradientType=0);
    box-shadow: 7px 11px 29px 0 rgba(0,0,0,.5);
    font-weight: 700;
    width: 219px;
    height: 44px;
}
.K {
    border: none;
    border-radius: 60px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    outline: none;
    cursor: pointer;
}
.landingoverlay {
    /* FF3.6-15 */
    /* FF3.6-15 */
  
  
    background: -webkit-linear-gradient(
      right,
      #0e1621e1 10%,
      #141e30d8 30%
      rgba(10, 16, 22, 0.7) 60%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      #0e1621e1 10%,
      #141e30d8 30%
      rgba(10, 16, 22, 0.7) 60%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
  