.Item {
  contain: strict;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background-position: center;
  background-size: cover;
  height: 240px;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: background 2s ease-in-out;
  transition: background 2s ease-in-out;
  width: 100%;
  border-radius: 2px;
}

.extra {
  height: 149px !important;
}

.movie-item {
  width: 95%;
  height: 98%;
  margin: 0 auto;
}
.tv-item {
  width: 98%;
  height: 98%;
  margin: 0 auto;
}

.Item .title {
  font-size: 22px;
}
.singline {
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Item .overlay {
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.75) 0%,
    transparent 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    transparent 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.125s ease;
  transition: opacity 0.125s ease;
}

.Item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease 0.125s;
  transition: opacity 0.25s ease 0.125s;
}
.Item .overlay .plot {
  font-size: 16px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
  transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
}
.Item:hover {
  background-size: 150%;
}
.Item:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.Item:hover .overlay .plot {
  margin-top: 0px;
  opacity: 1;
}

.Item:hover .overlay .rating {
  opacity: 1;
}

@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
