.searchbox {
  background: transparent;
  display: inline-block;
  color: white;
  font-size: 40px;
  line-height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 60%;
  padding: 0 !important;
}
.searchbox:focus {
  border: none;
  background: transparent;
  box-shadow: none !important;
  outline: none;
}

.searchbar {
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.1);
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  z-index: 3;
  position: relative;
}


.searchbar ul li {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  
}

.searchbar ul li.active {
  color: #fff;
  border-bottom: 4px solid #00dc89;
}
