

.imagesize {
  width: 232px;
  background-color: rgba(43, 50, 57, 0.8);
  background-size: cover;
  min-height: 400px;

}

.Hero {
  position: relative;
  background-size: cover;
}

.Hero .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 10vw;
  top: 10vw;
}

.Hero .content p {
  width: 100%;
}

.Hero .content .Button:first-child {
  margin-right: 10px;
}
.herooverlay {
  /* FF3.6-15 */
  /* FF3.6-15 */
  min-height: 400px;


  background: -webkit-linear-gradient(
    top,
    #0e1621 20%,
    #141e30e8 50%,
    rgba(10, 16, 22, 0.7) 80%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to top,
    #0e1621 20%,
    #141e30e8 50%,
    rgba(10, 16, 22, 0.7) 80%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
