.authbackground {
  width: 100%;
  opacity: 0.2;
  height: 100vh;
  height: 700px;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(transparent 60%, #081118),
    linear-gradient(114deg, #8679f9, #71ff97);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#ff081118",GradientType=0);
}

.half50 {
  position: absolute;
  top: 0px;
  z-index: -1;
  opacity: 0.2;
  background-image: linear-gradient(transparent 60%, rgb(8, 17, 24)),
    linear-gradient(114deg, rgb(134, 121, 249), rgb(113, 255, 151));
}

.froze50 {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 30px 26px;
}

.authbutton {
  transition: box-shadow 0.1s, transform 0.1s;
  transition-timing-function: ease-in-out;
  color: #081118;
  background: linear-gradient(139deg, #00e18c, #00e36a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e18c",endColorstr="#ff00e36a",GradientType=0);
  box-shadow: 7px 11px 29px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 60px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.price-box {
  overflow: auto;
}
