.authbackground {
  width: 100%;
  opacity: 0.6;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1492462543947-040389c4a66c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c93c013676fe7a55668861c6efbe1d19&auto=format&fit=crop&w=1050&q=80") ;
  /* background-image: linear-gradient(transparent 60%, #081118),
    linear-gradient(114deg, #8679f9, #71ff97);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#ff081118",GradientType=0);
} */

background-size: cover;

}

.half50 {
  position: absolute;
  top: 0px;
  z-index: -1;
  opacity: 0;
  background-image: linear-gradient(transparent 60%, rgb(8, 17, 24)),
    linear-gradient(114deg, rgb(134, 121, 249), rgb(113, 255, 151));
}

.froze50 {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 30px 26px;
}

.authbutton {
  transition: box-shadow 0.1s, transform 0.1s;
  transition-timing-function: ease-in-out;
  color: #081118;
  background: linear-gradient(139deg, #00e18c, #00e36a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00e18c",endColorstr="#ff00e36a",GradientType=0);
  box-shadow: 7px 11px 29px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 60px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.price-box {
  overflow: auto;
}

/* On screens that are 600px or less, set the background color to olive
@media screen and (min-width: 700px) {
  .tv-item {
   
}

@media screen and (min-width: 700px) {
  .tv-item {
    width: calc(25% + 2.5px);  }
} */
