.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  min-width: 100%;
  min-height: 240px;
}

.wcard {
  min-width: 160px;
  align-self: baseline;
  height: 75px;
}

.wcard.active {
  border-top: 10px solid #00000063;
  height: 85px;
}
.wcard::-webkit-scrollbar {
  display: none;
}

.scrolling-movies {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  min-width: 100%;
  min-height: 600px;
}

.mcard{
  flex: 0 0 auto;
}

@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .largeMovieBar {
    height: 319px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .largeMovieBar {
    height: 425px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
