.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.cardroll {
  flex: 0 0 auto;
}

@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .largeMovieBar {
    height: 319px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .largeMovieBar {
    height: 425px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
