a.nav-link plzero {
  padding-left: 0px !important;
}



.fadedbutton {
  border: 1px solid transparent;
  background-color: hsla(0, 0%, 100%, 0.12) !important;
}

.active-button {
  border: 1px solid transparent;
  background-image: linear-gradient(
    106deg,
    rgba(147, 2, 14, 0.96),
    rgba(159, 4, 69, 0.96)
  );
}

.banner {
  position: relative;
  height: 88px;
  background-image: linear-gradient(
    104deg,
    rgba(134, 121, 249, 0.1),
    rgba(113, 255, 151, 0.1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a8679f9",endColorstr="#1a71ff97",GradientType=1);
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}

.banner-large-subtle {
  background-color: #000;
}

/* background-image: linear-gradient(
  104deg,
  rgba(134, 121, 249, 0.1),
  rgba(113, 255, 151, 0.1)
);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a8679f9",endColorstr="#1a71ff97",GradientType=1);
 */

.error_banner {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(
    106deg,
    rgba(147, 2, 14, 0.96),
    rgba(159, 4, 69, 0.96)
  );
  z-index: 90;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}

.banner-large {
  background-image: linear-gradient(
    110deg,
    rgba(96, 79, 255, 0.4),
    rgba(62, 255, 114, 0.4)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66604fff",endColorstr="#663eff72",GradientType=1);
}

.addlftbrdr {
  border-left: 4px solid rgba(62, 255, 114, 0.8);
  padding-left: 0.5rem;
}

.addlftbrdrwhite {
  border-left: 1px solid white;
  padding-left: 1rem;
}
.error_snippet {
  position: relative;
  min-height: 88px;
  margin: 0 auto;
  background-image: linear-gradient(
    106deg,
    rgba(147, 2, 14, 0.96),
    rgba(159, 4, 69, 0.96)
  );
  z-index: 90;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}

.error_nosize {
  position: relative;
  background-image: linear-gradient(
    106deg,
    rgba(147, 2, 14, 0.96),
    rgba(159, 4, 69, 0.96)
  );
  z-index: 90;
  width: 100%;
  box-sizing: border-box;
}

.titlebar {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: transparent;
}

.back-trans {
  background: transparent;
}

.jw {
  max-width: 100vw;
  height: 474px;
  background-image: linear-gradient(
    110deg,
    rgba(96, 79, 255, 0.4),
    rgba(62, 255, 114, 0.4)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66604fff",endColorstr="#663eff72",GradientType=1);
}

.profile-img {
  margin-right: 5px;
  float: left;
  background: url(http://via.placeholder.com/30x30) 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 999;
}

.bdr4 {
  border-radius: 4px;
}

.navbar-default .navbar-toggle {
  border-color: #f00; /* Change border color around this buttons */
  background: #fff; /* Change background for button itself */
}

.navbar-default .navbar-toggle .icon-bar {
  background: #f00; /* Change color for horizontal lines */
}